

body {font-family: 'Poppins', sans-serif;}

select, input {
  font-size: 20px;
}

.digital {
  font-family: 'Orbitron', sans-serif;
  font-size: 2.2rem;
}
.digital-sm {
  font-family: 'Orbitron', sans-serif;
  font-size: 1.6rem;
}
.digital-num {

  margin-top: 10px;

}


.dark-section {
  background-color: black;
  color: white;
  padding: 20px;
}



.copyright {
  text-align: right;
  font-size: 0.8rem;
  display:block;
}

/* The switch - the box around the slider */
/* From: https://www.w3schools.com/howto/howto_css_switch.asp*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: black;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px black;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
.unit-label {
  padding: 5px 10px;
  margin-top: 0px;
}

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.splits-parent{
  display: flex;
  justify-content: center;
}

.splits-titles {
  display: flex;
  justify-content: center;
}



#split-times-wrapper, #split-times-wrapper-slower, #split-times-wrapper-faster {
  width: 20%;

  }

.title-centre {
  text-align: center;
}


/* Structure and Layout */

#num-secs-hrs, #units-display {
  display: none;
}

.choose-distance{
  display: block;
}

.calculator-wrapper {
  display:flex;

}

.units-wrapper {
  display: flex;
}
.calculator-inputs {
  width: 50vw;
  background-color: darkgreen;
  color: white;
}

.calculator-inputs-form {
  display: flex;
  height: 300px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
}

.calculator-outputs {
  width: 50vw;
  background-color: lightgrey;
  background-image: url("https://raw.githubusercontent.com/jonburdon/5k-pace-calculator/4bf30ba1f11ce188fbcf0d6dfd7309936fed1e63/images/Race%20Pace%20Calculator.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.splits-titles p {
width: 15%;
margin: 20px;
padding: 15px 10px;
}

#split-times-wrapper p {
  background-color: black;
  color: white;
  margin: 20px;
  padding: 15px 10px;
}

#split-times-wrapper-slower p, #split-times-wrapper-faster p {
  background-color: lightgrey;
  color: black;
  margin: 20px;
  padding: 15px 10px;
}

.splits-parent {
  background-image: url("https://raw.githubusercontent.com/jonburdon/5k-pace-calculator/fa791f1056620e840302d8b1dbf802ae670b60e2/images/Racehub_icon-opacity.svg");
  background-size: 30vw;
  background-repeat: repeat-y;
  background-position: center center;
  background-attachment: fixed;
  
}

@media only screen and (min-width: 769px) {
  .calculator-inputs, .calculator-outputs {
    flex-basis: 50%;
   padding: 60px 40px 40px 40px;
  
  }
  .calculator-inputs {
    padding: 40px;
  }
}

@media only screen and (max-width: 768px) {

  .calculator-wrapper {
    flex-direction: column-reverse;
    
  }
  .calculator-outputs, .calculator-inputs {
    width: 100vw;
    padding-top: 20px;
  }

  .calculator-outputs {
    
    min-height: 50vh;

  }
  .splits-titles p {
    width: 33%;
  }
  #split-times-wrapper, #split-times-wrapper-slower, #split-times-wrapper-faster {
    width: 33%;
  
    }

    .splits-titles p, #split-times-wrapper p, #split-times-wrapper-slower p, #split-times-wrapper-faster p {
      margin: 10px;
      padding: 5px;
  }
  .full-width {
    width: 100vw;
  }
  .dark-section {
    padding: 0px;
  }
  .dark-section h1, .dark-section p, .dark-section span, .calculator-inputs-form {
    padding: 10px;
  }


}
